<!doctype html>
<html>
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="getbootstrap/bootstrap.min.css">

<title>HzClfhtTpeZrhtqd</title>
</head>
<body>
	<div data-th-replace="Navbar :: html"></div>

	<div class="container">
		<h1>
			<a href="/HzClfhtTpeZrhtqd" class="badge badge-primary">HzClfhtTpeZrhtqd</a>
		</h1>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="jquery/jquery-3.3.1.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="getbootstrap/bootstrap.min.js"></script>
</body>
</html>