<!doctype html>
<html>
<head>
<meta charset="utf-8">

<!-- Required meta tags -->
<meta data-th-replace="Starter :: meta">

<!-- Bootstrap CSS -->
<link data-th-replace="Starter :: link">

<!-- Seniverse -->
<script data-th-replace="SeniverseFDQP :: script"></script>

<title>HzSpfht</title>
</head>
<body>
	<div data-th-replace="Navbar :: nav"></div>

	<div class="container">
		<h1>
			<a href="/HzSpfhtTpnYxshtqd" class="badge badge-primary">HzSpfhtTpnYxshtqd</a>
		</h1>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script data-th-replace="Starter :: script"></script>

	<!-- Seniverse -->
	<script data-th-replace="SeniverseGDJJ :: script"></script>
</body>
</html>