<!doctype html>
<html>
<head>
<meta charset="utf-8">

<!-- Required meta tags -->
<meta data-th-replace="Starter :: meta">

<!-- Bootstrap CSS -->
<link data-th-replace="Starter :: link">

<title data-th-text="${Status}"></title>
</head>
<body>
	<div data-th-replace="navbar :: nav"></div>

	<p class="display-1 text-secondary" align="center"
		data-th-text="${Status}"></p>
	<p class="display-1 text-danger" align="center">Sorry!</p>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script data-th-replace="Starter :: script"></script>
	<script data-th-replace="SeniverseGDJJ :: script"></script>
</body>
</html>